body {
  padding: 45px;
  font: 20px "Times New Roman", Helvetica, Arial, sans-serif;
}

a {
  color: #fffefe;
}
.photo
{
  background-image: url('M:\PROJECTS\WPM\COLLEGE_INFO\public\images\download.jpeg');
  background-size: 200px;
  height: 100px;
  width: 100px;
}